html {
	background: #eee;
}

body {
	/*text-align: center;*/
	font-family: 'Yantramanav', sans-serif;
}

header {
	/*text-align: center;*/
	padding: 2em;
	/*color: grey;*/
}

nav {
	padding: 2em;
	text-align: center;
	/*color: #555*/
}

nav > a {
	text-decoration: none;
	color: #555;
}

h1 {
	text-align: center;
}

nav > a {
	padding: 1em;
}

.main-text {
	font-weight: 300;
	text-align: center;
	margin: auto;
	max-width: 1000px;
	padding: 2em;
}

.subtitle {
	text-align: center;
	font-weight: 300;
	color: #555;
}

.exhibitions {
	margin: auto;
	max-width: 1000px;
	padding: 2em;
}

p {
	text-align: justify;
	width: 100%;
	padding-top: 0.5em;
}

/*p::first-letter {
	font-size: 130%;
}*/

iframe {
	padding: 1em;
	margin-top: 2em;
}

h1 > a {
	text-decoration: none;
	color: #555;
}

.exhibition {
	padding-bottom: 2em;	
}